# Core Deep Learning
torch
torchvision
torchaudio

# Data Handling & Progress
numpy
tqdm
pillow

# Evaluation & Visualization (For Confusion Matrix)
scikit-learn
seaborn
matplotlib

# Environment Utilities
pandas